.titulo{
    font-family: Arial;
}
p{
   color: whitesmoke; 
   font-family: arial;
   font-weight: 600;
   text-align: center;
   margin-top: -1%;
}
h1{
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
}


table{
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
    clear: both;
    display: inline-block;    
}

form{
    text-align: center;
}
img{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}